@use "base/variables" as *;
@use "base/mixins" as *;

.header {
	background-color: $verde;

	@include tablet {
		&.fixed {
			width: 100%;
			position: fixed;
			top: 0;
			left: 0;
			box-shadow: 0.1rem 0.2rem 0.3rem #333;
		}
	}
	.contenido-header {
		padding: 2rem;
		@include tablet {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	h1 {
		color: $blanco;
		text-align: center;
		@include tablet {
			text-align: left;
			margin-bottom: 0;
		}
	}
}

.navegacion-principal {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	@include tablet {
		flex-direction: row;
	}

	a {
		color: $blanco;
		font-size: 2.4rem;
		&:hover,
		&.active {
			color: $amarillo;
		}
	}
}
